html, body {
    height: 100%;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum height of 100% of the viewport height */
}

main {
    flex: 1; /* Allows the main content to expand and push the footer down */
}

.footer {
    background-color: #282c30;
    color: white;
    padding: 10px;
    text-align: center;
}

    .footer .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer p {
        margin: 0;
    }

    .footer a {
        color: #007bff;
        text-decoration: none;
    }

        .footer a:hover {
            text-decoration: underline;
        }

#blazor-error-ui {
    position: fixed;
    bottom: 0;
    width: 100%;
}
