@inject AppState AppState
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using DomainModels

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/custom-styles.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">



<nav class="navbar navbar-expand-lg navbar-dark custom-navbar w-100">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/Maws-hoteller-photos/Sunset-Resort.png" alt="Logo" class="navbar-logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="navbar-text" aria-hidden="true"></span>Home
                    </NavLink>
                </li>

                @if (AppState.LoggedIn)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="ProfileDashboard">
                            <span class="navbar-text" aria-hidden="true"></span> Profile
                        </NavLink>
                    </li>
                    @if (AppState.IsAdmin)
                    {
                        <li class="nav-item">
                            <NavLink class="nav-link" href="booking_dashboard">
                                <span class="navbar-text" aria-hidden="true"></span> Manage Booking
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="admin-profile-list">
                                <span class="navbar-text" aria-hidden="true"></span> Manage Profiles
                            </NavLink>
                        </li>
                    }
                }
            </ul>

            <!-- For at holde Login og Create Profile i højre side -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                @if (!AppState.LoggedIn)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="login">
                            <span class="navbar-text" aria-hidden="true"></span> Login
                        </NavLink>
                    </li>
                    
                    <li class="nav-item">
                        <NavLink class="nav-link" href="create-profile">
                            <span class="navbar-text" aria-hidden="true"></span> Signup
                        </NavLink>
                    </li>
                    
                }
                else
                {
                    @if (!AppState.IsAdmin)
                    {
                        <li class="nav-item">
                        <NavLink class="nav-link" href="ContactSupport">
                                <i class="bi bi-headset"></i>
                            </NavLink>
                        </li>
                    }
                    <li class="nav-item">
                        <NavLink class="nav-link" @onclick="Logout">
                            <i class="bi bi-box-arrow-right"></i>
                        </NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    private async Task Logout()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "authToken");
        AppState.LoggedIn = false;
        NavigationManager.NavigateTo("/");
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}