.custom-navbar {
    color: rgb(255, 130, 0) !important; 
    background: #282c30;
    border-bottom: 2px solid #343a40;
}

.navbar-logo {
    max-height: 4rem;
    border-radius: 50px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 130, 0);
}

.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}

    .navbar-toggler:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }

/* Ændrer farven på nav-link elementerne i navigationen */
.navbar-nav .nav-link {
    color: rgb(255, 130, 0) !important; /* Opdateret farve */
    padding: 0.75rem 1.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 30px;
}

    /* Ændrer farven på nav-link elementerne ved hover */
    .navbar-nav .nav-link:hover {
        color: rgb(255, 130, 0, 0.7) !important;
    }

    /* Ændrer farven på det aktive nav-link element */
    .navbar-nav .nav-link.active {
        color: rgb(255, 130, 0) !important;
    }

.nav-item {
    margin-right: 0.5rem;
}

.bi {
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

.navbar-nav.ms-auto .nav-link {
    margin-right: 1rem;
}

@media (max-width: 767px) {
    .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-nav .nav-item {
        margin-right: 0;
    }
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }
}