@page "/booking_success"
@using DomainModels
@inject Blazor.Services.APIService db
@inject NavigationManager NavigationManager

<div class="container" style="transform: scale(1.5); transform-origin: top left;">
    <div class="left-side">
        <div class="card">
            <div class="card-line"></div>
            <div class="buttons"></div>
        </div>
        <div class="post">
            <div class="post-line"></div>
            <div class="screen">
                <div class="dollar">$</div>
            </div>
            <div class="numbers"></div>
            <div class="numbers-line2"></div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        //Make it 1,75 seconds delayed so it redirects after the animation
        await Task.Delay(1750);

        NavigationManager.NavigateTo("/show_profile");


        await InvokeJS("initAnimation()");
    }

    private async Task InvokeJS(string jsCode)
    {
        await JSRuntime.InvokeVoidAsync("eval", jsCode);
    }
}

<script>
    function initAnimation() {
        const container = document.querySelector('.container');
        container.classList.add('animate');
        container.style.animationPlayState = 'running';
    }


    window.onload = initAnimation;
</script>
