.home-background {
    position: relative;
    text-align: center;
}

    .home-background img {
        width: 100%;
        max-height: 35rem;
        display: block;
    }

.home-title {
    font-family: 'Georgia', serif;
    position: absolute;
    top: 20%;
    left: 50%;
    background: rgb(190,47,48);
    background: linear-gradient(90deg, rgba(190,47,48,1) 20%, rgba(255,161,30,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(-50%, -50%);
    font-size: 3.7rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.home-subtitle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.7rem;
    color: #fff;
    text-shadow: 1px 1px black;
}

.home-text-center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px black;
}



.category {
    border: 2px solid #ffa11e;
    border-radius: 20px;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.6);
}

    .category i {
        font-size: 3rem;
        background: rgb(190,47,48);
        background: linear-gradient(90deg, rgba(190,47,48,1) 20%, rgba(255,161,30,1) 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }







.table {
    background-color: #fff;
    color: black;
}


    .table thead {
        color: black;
    }

    .table th, .table td {
        color: black;
        text-align: center;
        vertical-align: middle;
    }

    .table tbody tr {
        border-bottom: 1px solid #ddd;
    }

    .table tbody td {
        padding: 1rem;
    }

.status-available {
    color: #28a745;
    font-weight: bold;
}

.status-booked {
    color: #dc3545;
    font-weight: bold;
}

.btn-link {
    color: #007bff;
    border: none;
    background: none;
    font-weight: bold;
    padding: 0;
    text-decoration: underline;
}

    .btn-link:hover {
        color: rgba(255,130,0,0.5);
        text-decoration: none;
    }

.btn-filter {
    color: rgb(255,130,0);
    border: none;
    background: none;
    font-weight: normal;
    padding: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn-filter i {
        margin-right: 0.5rem;
        font-size: 1rem;
    }

    .btn-filter:hover {
        color: #0056b3;
        text-decoration: none;
    }


.table th {
    vertical-align: middle;
    text-align: center;
    padding: 0.75rem;
    color: black;
    border-radius: 20px;
}

.table td {
    vertical-align: middle;
    text-align: left;
    padding: 0.75rem;
}


.card-section-title {
    font-family: 'Georgia', serif;
}

.card {
    width: 300px;
    border-radius: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.card-deck {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.justify-content-around {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}


.card img {
    width: 100%;
    max-height: 20rem;
    height: 13rem;
    border-radius: 20px 20px 0 0;
}

.price-book-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0rem;
    margin: 1rem 0 0 0
}

.price {
    color: rgb(255,130,0);
    margin: 0;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px rgb(190,47,48);
    font-weight: bold;
    padding: 0.5rem;
}


.card-btn {
    display: flex;
    padding: 0.5rem;
    gap: 15px;
    background-color: #181717;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

    .card-btn:hover {
        background-color: transparent;
    }

.card-btn:hover .text {
    color: #181717;
}

.card-btn .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
    margin: 0;
}
.card-btn:hover {
    background: rgb(255,130,0);
    color:white;
}

.card-btn i {
    color: white;
    padding: 0;
}


.card img {
    max-width: 20rem;
    max-height: 20rem;
    width: 100%;
}

/* SINGLE OR DOUBLE SWITCH */


.card-container {
    position: relative;
    margin-bottom: 1rem;
}

.toggler {
    position: absolute;
    top: 0.8rem; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}


    .toggler input {
        display: none;

    }

    .toggler label {
        display: block;
        position: relative;
        width: 4rem;
        height: 2rem;
        border: 1px solid #d6d6d6;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 36px;
        background: #e4e8e8;
        cursor: pointer;
    }

        .toggler label::after {
            display: block;
            border-radius: 100%;
            background-color: #d7062a;
            content: '';
            animation-name: toggler-size;
            animation-duration: 0.15s;
            animation-timing-function: ease-out;
            animation-direction: forwards;
            animation-iteration-count: 1;
            animation-play-state: running;
            
        }

        .toggler label::after, .toggler label .toggler-on, .toggler label .toggler-off {
            position: absolute;
            top: 50%;
            left: 25%;
            width: 26px;
            height: 26px;
            transform: translateY(-50%) translateX(-50%);
            transition: left 0.15s ease-in-out, background-color 0.2s ease-out, width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
        }

    .toggler input:checked + label::after, .toggler input:checked + label .toggler-on, .toggler input:checked + label .toggler-off {
        left: 75%;
    }

    .toggler input:checked + label::after {
        background-color: #50ac5d;
        animation-name: toggler-size2;
    }

    .toggler .toggler-on, .toggler .toggler-off {
        opacity: 1;
        z-index: 2;
        font-size: 18px;
        margin: 0 3px;
        color: #fff;
    }

    .toggler input:checked + label .toggler-off, .toggler input:not(:checked) + label .toggler-on {
        width: 0;
        height: 0;
        opacity: 0;
    }

@keyframes toggler-size {
    0%, 100% {
        width: 22px; 
        height: 22px;
    }

    50% {
        width: 18px; 
        height: 18px;
    }
}

@keyframes toggler-size2 {
    0%, 100% {
        width: 22px;
        height: 22px;
    }

    50% {
        width: 18px;
        height: 18px;
    }
}

/* ---- End SINGLE OR DOUBLE TOGGLE */