@page "/login"
@using DomainModels
@inject AppState AppState
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="login-box" @onkeypress="Enter">
    <p>Login</p>
    <form >
        <div class="user-box">
            <input required="" name="" type="text" @bind-value="loginDto.Email"/>
            <label>Email</label>
        </div>
        <div class="user-box">
            <input required="" name="" type="password" @bind-value="loginDto.Password"/>
            <label>Password</label>
        </div>
        <a @onclick="HandleValidSubmit" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </form>
    <p>Don't have an account? <a href="create-profile" class="a2">Sign up!</a></p>
</div>

@code {
    private LoginDto loginDto = new LoginDto();

    // Activate login submit when "Enter" is pressed.
    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await HandleValidSubmit();
        }
    }

    // Handle login submit.
    private async Task HandleValidSubmit()
    {
        var response = await dbService.LoginProfile(loginDto);

        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<LoginResult>();
            if (result?.Token != null)
            {
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", result.Token);
                AppState.LoggedIn = true;
                AppState.UserId = result.UserId;
                AppState.IsAdmin = result.IsAdmin;
                NavigationManager.NavigateTo("/");
            }
            NavigationManager.NavigateTo("/ProfileDashboard");
        }
        else
        {
            Console.WriteLine("Forkerte oplysninger, prøv igen");
        }
    }
}