@page "/login"
@using DomainModels
@inject AppState AppState

<!-- Login box -->
<div class="login-box">
    <p>Login</p>
    <form>
        <!-- Email input -->
        <div class="user-box" @onkeypress="Enter">
            <input required="" name="" type="text" @bind="loginDto.Email" @bind:event="oninput"/>
            <label>Email</label>
        </div>
        <!-- Password input -->
        <div class="user-box" @onkeypress="Enter">
            <input required="" name="" type="password" @bind="loginDto.Password" @bind:event="oninput"/>
            <label>Password</label>
        </div>
        <!-- Submit button -->
        <a @onclick="HandleValidSubmit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </form>
    <p>Don't have an account? <a href="create-profile" class="a2">Sign up!</a></p>
</div>

@code {
    private LoginDto loginDto = new LoginDto();

    // Activate login submit when "Enter" is pressed.
    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await HandleValidSubmit();
        }
    }

    // Handle login submit.
    private async Task HandleValidSubmit()
    {
        var response = await dbService.LoginProfile(loginDto);

        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<LoginResult>();
            if (result?.Token != null)
            {
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", result.Token);
                AppState.LoggedIn = true;
                AppState.UserId = result.UserId;
                AppState.IsAdmin = result.IsAdmin;
                navManager.NavigateTo("/");
            }
            navManager.NavigateTo("/ProfileDashboard");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Try again.");
            Console.WriteLine("Forkerte oplysninger, prøv igen");
        }
    }
}