@page "/ContactSupport"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using DomainModels

<div class="login-box">
	<p>Contact Support</p>
	<form>
		<div class="user-box">
			<input required="" name="" type="text" @bind-value="supportRequest.Name"/>
			<label>Name</label>
		</div>
		<div class="user-box">
			<input required="" name="" type="text" @bind-value="supportRequest.Email"/>
			<label>Email</label>
		</div>
		<div class="user-box">
			<input required="" name="" type="text" @bind-value="supportRequest.Subject"/>
			<label>Subject</label>
		</div>
		<div class="user-box">
			<input required="" name="" type="text" @bind-value="supportRequest.Message" />
			<label>Message</label>
		</div>
		<a @onclick="HandleValidSubmit">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			Submit
		</a>
	</form>
</div>

@code {
	private SupportRequest supportRequest = new SupportRequest();
	private string errorMessage = string.Empty;

	private async Task HandleValidSubmit()
	{
		try
		{
			await dbService.PostSupportRequest(supportRequest);
			// Eventuelt feedback til brugeren om, at deres anmodning blev sendt.
			supportRequest = new SupportRequest(); // Reset formularen
		}
		catch (Exception ex)
		{
			errorMessage = $"An error occurred: {ex.Message}";
		}
	}
}